.form
{
    padding-left: 250px;
    padding-top: 30px;
    margin-top: 0px;
    /* height: 550px;
    width:500px; */
    /* border-left-color: black; */
}
.main{
   height: 550px;
    width:1000px; 
    align-items: right; 
}
table
{
    padding-left: 250px;
    padding-top: 100px;
}
.logo{
    padding-left: 250px; 
}
/* button{
    padding-left: 5px;
} */